header{
  font-family: serif;
}

body{
  font-family: serif;
}
.navbar{
  z-index:9;
}
#frontPageCarousel{
  position:absolute;
  z-index:-3;
  width:100%;
  top:0;
}

.hometext{
 padding-top: 900px
}

.followbuttons{
  width: 50px;
  height:auto;

}

.brand{
  font-size:4em;
  color: black;
}

footer{
  text-align: center;
  font-family:serif;
}
