header{
  text-align: center;
}

.brand{
  text-align: center;
  font-size: 100px;
  padding-left: 50%;
  padding-right: 50%;
  color: #a4d7e1;
}

body{
  text-align: center;
  background-color: #f6edcf;
}

.followbuttons{
  width: 50px;
  height:auto;
}

footer{
  background-color: #a4d7e1;
}
